<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>
</head>
<body>
  <h1>로그인페이지</h1>
  <hr/>
  <h1><%= data.people[0].name %>님 환영합니다. (<%= data.people[0].age %>세)</h1>
  <hr/>
  <h1><%= data.people[1].name %>님 환영합니다. (<%= data.people[1].age %>세)</h1>

</body>
</html>
